body{
    margin: 0px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > * {
  margin: 10px;
}

input {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

input[type='button'] {
  width: 7rem;
  background-color: white;
  border-color: #007bff;
  color: #007bff;
}

input[type='button']:hover {
  background-color: #007bff;
  transition: background-color 0.3s ease;
  color: white;
  cursor: pointer;
}

input[type='button']:active {
  background-color: white;
  color: #007bff;
  transition: all 0.5s;
}

input[type='button']:focus {
  outline: 0px solid #007bff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
  box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
}

input[type='text'] {
  width: 12rem;
  border-color: gainsboro;
  transition: border-color 0.3s ease;
}

input[type='text']:hover {
  border-color: #007bff;
}

input[type='text']:focus {
  outline: 0px solid #007bff;
  border-color: #007bff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
  box-shadow: 0px 0px 10px 2px rgba(128, 207, 252, 1);
}

p{
    color: red;
    font-size: 17px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}